@import '../../variables.scss';

.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: $blue-grey;
    border-radius: $border-radius-4;
    box-shadow: $box-shadow;
}
.add-form {
    margin-top: 20px;
    input {
        width: 350px;
        margin-right: 20px;
    }
}